1 VERSIONINFO
  FILEVERSION {BuildVerMajor},{BuildVerMinor},{BuildVerPatch},{BuildVerBuild}
  PRODUCTVERSION {BuildVerMajor},{BuildVerMinor},{BuildVerPatch},{BuildVerBuild}
  FILEOS 0x00040004L
  FILEFLAGSMASK 0x0000003FL
  {BuildVerFileFlag}
  FILETYPE 0x00000001L
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904E4"
      BEGIN
        VALUE "FileVersion", "{BuildVerStrFull}\0"
        VALUE "FileDescription", "{BuildName}\0"
        VALUE "ProductName", "{BuildName}\0"
        VALUE "ProductVersion", "{BuildVerStr}\0"
      END
    END
  END

#define RT_MANIFEST 24

1 RT_MANIFEST "{BuildTempPath}\\MySQLFront.manifest"

MAINICON ICON "{BuildImagesPath}\\MAINICON.ico"
10000 ICON "{BuildImagesPath}\\Blank.ico"
10001 ICON "{BuildImagesPath}\\PureFlat\\relations.ico"
10002 ICON "{BuildImagesPath}\\datasheet.ico"
10003 ICON "{BuildImagesPath}\\PureFlat\\tool_pencil.ico"
10005 ICON "{BuildImagesPath}\\PureFlat\\folder_open.ico"
10006 ICON "{BuildImagesPath}\\PureFlat\\save.ico"
10007 ICON "{BuildImagesPath}\\PureFlat\\clipboard_cut.ico"
10008 ICON "{BuildImagesPath}\\PureFlat\\clipboard_copy.ico"
10009 ICON "{BuildImagesPath}\\PureFlat\\clipboard_paste.ico"
10010 ICON "{BuildImagesPath}\\PureFlat\\delete.ico"
10011 ICON "{BuildImagesPath}\\PureFlat\\settings_options.ico"
10012 ICON "{BuildImagesPath}\\PureFlat\\search.ico"
10014 ICON "{BuildImagesPath}\\MySQL.ico"
10015 ICON "{BuildImagesPath}\\PureFlat\\add.ico"
10018 ICON "{BuildImagesPath}\\play.ico"
10019 ICON "{BuildImagesPath}\\PureFlat\\table_row-new.ico"
10020 ICON "{BuildImagesPath}\\PureFlat\\table_row-remove.ico"
10022 ICON "{BuildImagesPath}\\PureFlat\\refresh_update.ico"
10023 ICON "{BuildImagesPath}\\PureFlat\\server.ico"
10024 ICON "{BuildImagesPath}\\PureFlat\\database.ico"
10025 ICON "{BuildImagesPath}\\PureFlat\\table.ico"
10026 ICON "{BuildImagesPath}\\PureFlat\\key.ico"
10027 ICON "{BuildImagesPath}\\PureFlat\\table_field.ico"
10028 ICON "{BuildImagesPath}\\PureFlat\\link.ico"
10029 ICON "{BuildImagesPath}\\PureFlat\\replace.ico"
10030 ICON "{BuildImagesPath}\\play_selected.ico"
10031 ICON "{BuildImagesPath}\\PureFlat\\computers_network.ico"
10033 ICON "{BuildImagesPath}\\PureFlat\\user_group.ico"
10034 ICON "{BuildImagesPath}\\milestones.ico"
10035 ICON "{BuildImagesPath}\\PureFlat\\script.ico"
10037 ICON "{BuildImagesPath}\\PureFlat\\undo.ico"
10038 ICON "{BuildImagesPath}\\PureFlat\\redo.ico"
10040 ICON "{BuildImagesPath}\\PureFlat\\server-add2.ico"
10041 ICON "{BuildImagesPath}\\PureFlat\\user.ico"
10042 ICON "{BuildImagesPath}\\PureFlat\\milestone.ico"
10043 ICON "{BuildImagesPath}\\PureFlat\\computer_network.ico"
10047 ICON "{BuildImagesPath}\\PureFlat\\action_arrow_left.ico"
10048 ICON "{BuildImagesPath}\\PureFlat\\arrow_left.ico"
10049 ICON "{BuildImagesPath}\\PureFlat\\arrow_up.ico"
10050 ICON "{BuildImagesPath}\\PureFlat\\arrow_down.ico"
10051 ICON "{BuildImagesPath}\\PureFlat\\arrow_right.ico"
10052 ICON "{BuildImagesPath}\\PureFlat\\action_arrow_right.ico"
10053 ICON "{BuildImagesPath}\\PureFlat\\action_goto_first.ico"
10054 ICON "{BuildImagesPath}\\PureFlat\\action_goto_last.ico"
10055 ICON "{BuildImagesPath}\\PureFlat\\table_row-ok.ico"
10056 ICON "{BuildImagesPath}\\table_row-cancel.ico"
10057 ICON "{BuildImagesPath}\\PureFlat\\action_play_backward.ico"
10058 ICON "{BuildImagesPath}\\PureFlat\\action_play_forward.ico"
10059 ICON "{BuildImagesPath}\\PureFlat\\database-new.ico"
10060 ICON "{BuildImagesPath}\\PureFlat\\database-remove.ico"
10061 ICON "{BuildImagesPath}\\PureFlat\\table-new.ico"
10062 ICON "{BuildImagesPath}\\PureFlat\\table-remove.ico"
10063 ICON "{BuildImagesPath}\\PureFlat\\key-new.ico"
10064 ICON "{BuildImagesPath}\\PureFlat\\key-remove.ico"
10065 ICON "{BuildImagesPath}\\PureFlat\\table_field_new.ico"
10066 ICON "{BuildImagesPath}\\PureFlat\\table_field-remove.ico"
10067 ICON "{BuildImagesPath}\\link_new.ico"
10068 ICON "{BuildImagesPath}\\PureFlat\\cancel.ico"
10072 ICON "{BuildImagesPath}\\PureFlat\\link-remove.ico"
10073 ICON "{BuildImagesPath}\\PureFlat\\favorite.ico"
10074 ICON "{BuildImagesPath}\\view.ico"
10075 ICON "{BuildImagesPath}\\view_field.ico"
10076 ICON "{BuildImagesPath}\\PureFlat\\script-gear.ico"
10077 ICON "{BuildImagesPath}\\PureFlat\\script-share.ico"
10078 ICON "{BuildImagesPath}\\PureFlat\\script-execute.ico"
10079 ICON "{BuildImagesPath}\\view-server.ico"
10080 ICON "{BuildImagesPath}\\view_field.ico"
10081 ICON "{BuildImagesPath}\\PureFlat\\calendar2.ico"
10082 ICON "{BuildImagesPath}\\PureFlat\\script-edit.ico"
10083 ICON "{BuildImagesPath}\\PureFlat\\script-query.ico"
10084 ICON "{BuildImagesPath}\\PureFlat\\time.ico"
10085 ICON "{BuildImagesPath}\\script-alarm.ico"
10086 ICON "{BuildImagesPath}\\PureFlat\\piece.ico"
10087 ICON "{BuildImagesPath}\\limit.ico"
10088 ICON "{BuildImagesPath}\\PureFlat\\filter.ico"
10089 ICON "{BuildImagesPath}\\PureFlat\\find.ico"
10090 ICON "{BuildImagesPath}\\PureFlat\\database-server.ico"
10094 ICON "{BuildImagesPath}\\PureFlat\\tree.ico"
10095 ICON "{BuildImagesPath}\\PureFlat\\tracking.ico"
10096 ICON "{BuildImagesPath}\\folders.ico"
10097 ICON "{BuildImagesPath}\\PureFlat\\ok_button.ico"
10098 ICON "{BuildImagesPath}\\PureFlat\\tool_wrench2.ico"
10099 ICON "{BuildImagesPath}\\PureFlat\\organization.ico"
10100 ICON "{BuildImagesPath}\\PureFlat\\magic_wand.ico"
10103 ICON "{BuildImagesPath}\\PureFlat\\folder_open-import.ico"
10104 ICON "{BuildImagesPath}\\PureFlat\\folder_open-export.ico"
10105 ICON "{BuildImagesPath}\\arrow_transfer.ico"
10106 ICON "{BuildImagesPath}\\view_field.ico"
10107 ICON "{BuildImagesPath}\\PureFlat\\sql_check.ico"
10108 ICON "{BuildImagesPath}\\translation.ico"

STRINGTABLE
BEGIN
  1000 "{BuildName}"
  1001 "{BuildProgramFiles}"
  1002 "{BuildAppData}"
  1003 "{BuildRegistry}"
  1004 "{BuildInternetHomepage}"
  1005 "{BuildInternetPadFile}"
  1006 "{BuildInternetBugReport}"
END
